body {
    background-color: rgba(0, 0, 0, 0.800);
    font-size: 20px;
    text-align: center;
    margin-top: 6cm;
}

p {
    color: white;
}

.you {
    margin-right: 395px;
}

.back_text {
    margin-top: 10cm;
    color: rgba(255, 255, 255, 0.400);
}

.win {
    color: rgba(255, 0, 0, 0.900);
}

.lose {
    color: rgba(0, 0, 255, 0.900);
}

.drow {
    color: rgba(255, 255, 0, 0.900);
}

img {
    margin: 0px 120px;
}

button {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}